
/*
HEADER
*/

.header {
    display: flex;
}


.header div {
    border: 2px solid orange;
    height: 150px;
    width: 250px;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.headerleft{
    display: flex;
    flex: 1;
    color:#F9FAF8;
    font-size: 24px;
}

.headerright{
    display: flex;
    flex:1;
}

.headerlink1:link .headerlink2:link .headerlink3:link{
    flex: 1;
    color:#E5E7EB;
    font-size: 18px;
}


/*
LOGIN
*/

.login {
    display: flex;
}

.login div {
    border: 2px solid orange;
    height: 200px;
    width: 250px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #1F2937;
}

.loginleft {
    flex: 1;
    color:#F9FAF8;
    font-size:48px;
    font-weight: bolder;
}

/*
.secondhero {
    color:#E5E7EB;
    font-size: 18px;
}
*/

.loginright {
    flex: 1;
}

/*
RANDOM INFO
*/

.infotop{
    text-align: center;
    border: 2px solid orange;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#1F2937;
    font-size:36px;
    font-weight: bolder;
}

.infobottom {
    display: flex;
}

.infobottom div {
    border: 2px solid orange;
    height: 350px;
    width: 250px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.infoimg {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.img {
    flex: 1;
}

.imgdesc {
    flex: 1;
}

/*
QUOTE
*/

.quote{
    border: 2px solid orange;
    text-align: center;
    background-color:#E5E7EB;
    color:#1F2937;
    font-size:36px;
    font-style: italic;
}

.chiquote{
    border: 2px solid orange;
    text-align: center;
    background-color:#E5E7EB;
    color:#1F2937;
    font-size:20px;
    font-weight: bold;
    text-align: right;
}

/*
BOTTONE
*/

.areabottone{
    display: flex;
}

.areabottone div {
    border: 2px solid orange;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box{
    display: flex;
    flex: 1;
}

.contenitorebottone{
    display: flex;
    flex: 1;
    background-color:#3882F6;
}

.bottone{
    flex: 1;
    background-color:#3882F6;
    color:#E5E7EB;
    font-size: 18px;
}

.descbottone{
    flex: 1;
    background-color:#3882F6;
    color:#E5E7EB;
    font-size: 18px;
}

/*
FOOTER
*/

.footer{
    border: 2px solid orange;
    text-align: center;
    background-color: #1F2937;
    color:#E5E7EB;
    font-size: 18px;
}
